---
---

@import "type-theme";


.call-out {
	background-color: #1a68bc;
}

.site-header .avatar {
	border-radius: 0.8em;
}

.meta, #post-nav p {
    color: rgba(56,56,56,0.5);
    font-size: 0.9em;
    letter-spacing: 0.1em;
    margin: 0;
}
